.home {
  background-color: rgba(207,207,207, .08);
  display: grid;

  justify-content: center;
  justify-items: center;
}


.card {
  height: 75vh;
  width: 90vw;
  box-shadow: 0 4px 30px 0 rgba(0,0,0,.08);
  border-radius: 7px;

  display: grid;
  grid-template-rows: 1fr 50px;

  &__inputs {
    background-color: skyblue;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }
}

.input {
  &__title {

  }
  input {

  }
  &__number {

  }
}
